@tailwind base;
@tailwind components;
@tailwind utilities;

/* This is for the active class that is used by react router's NavLink components */

.nav-link {
  @apply py-2 text-orange-500 transition-all duration-500 ease-in-out hover:tracking-wider hover:text-stone-500;
}

.active {
  @apply border-b-2 border-orange-500 text-orange-500;
}

.embla {
  max-width: 100%;
  margin: auto;
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: 100%;
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
  background-color: white;
}
